{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage",
            "corejs": 3
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-react-constant-elements",
        "@babel/plugin-syntax-dynamic-import",
        "react-hot-loader/babel",
        "react-imported-component/babel"
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "ie": 9
            },
            "forceAllTransforms": true,
            "useBuiltIns": "usage",
            "corejs": 3
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-react-constant-elements",
        "@babel/plugin-syntax-dynamic-import",
        "transform-react-remove-prop-types",
        "react-hot-loader/babel",
        "react-imported-component/babel"
      ]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-react-constant-elements",
        "@babel/plugin-syntax-dynamic-import",
        "transform-react-remove-prop-types",
        "react-hot-loader/babel",
        "react-imported-component/babel"
      ]
    }
  }
}
