:root {
  --text: #24292e;
  --body-bg: #f4f6f9;
  --header-bg: #fff;
  --white: #fff;
  --blue: #398bf7;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #ea172b;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c9a1;
  --cyan: #17a2b8;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-light: #687384;
  --primary: #007bff;
  --primary-dark: #327dde;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #24292e;
  --mute: #99abb4;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
